.botao {
    position: absolute;
    bottom: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    opacity: .5;
}

.botao

button {
    color: white;
    border: solid 1px white;
    background-color: transparent;
}

@media (min-width: 768px) {
    button {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .botao:hover {
      opacity: 1;
    }
}
