button {
    color: white;
    border: solid 1px white;
    background-color: transparent;
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    button {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    button:hover {
       color: var(--verde);
    }
}
