nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 50;
}

nav img {
    width: 100px;
    margin-left: 1rem;
}

.menuMobile {
    display: flex;
    color: white;
    position: relative;
}

.menuMobile .backgroundMenu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 20;
}

.bi {
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 25;
}

.bi-list {
    color: var(--verde);
    border: solid 1px var(--verde);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.bi-x-circle {
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: solid 1px white;
    margin-right: 1rem;
}

.menuMobile ul {
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--verde);
    position: absolute;
    right: -15px;
    height: 100vh;
    width: 150px;
    text-align: left;
    z-index: 20;
}

.menuMobile ul li {
    display: flex;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
}

.menuMobile ul li a:nth-child(4) {
    font-weight: 600;
    color: rgb(3, 46, 3);
}

a {
    font-weight: 500;
}

.menuDesktop {
    display: none;
}

@media (min-width: 768px) {
    nav img {
        width: 150px;
    }
}

@media (min-width: 1200px) {
    nav img {
        width: 200px;
    }

    .menuMobile {
        display: none;
    }

    .menuDesktop {
        display: flex;
        margin-right: 2rem;
        text-transform: uppercase;
    }

    .menuDesktop ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .menuDesktop ul li a {
        cursor: pointer;
        transition: ease-in-out .2s;
    }

    .menuDesktop ul li a:hover {
        color: var(--verde);
        transition: ease-in-out .2s;
    }
}